{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<br>
<div class="row center">
  <a href="{% static 'movies.csv' %}" class="waves-effect waves-light img-btn btn grey darken-4 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Download as CSV"><i class="material-icons">file_download</i></a>
</div>
<div class="row">
  <table class="highlight centered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Weekend Value</th>
        <th>Gross Value</th>
        <th>Weeks</th>
      </tr>
    </thead>
    <tbody>
      {% for m in movie_list %}
      <tr>
        <td>{{ m.title }}</td>
        <td>{{ m.weekend_value }}</td>
        <td>{{ m.gross_value }}</td>
        <td>{{ m.weeks }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}