{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<br>
<div class="row">
  <table class="highlight centered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Area</th>
        <th>Population</th>
        <th>Density</th>
      </tr>
    </thead>
    <tbody>
      {% for c in country_list %}
      <tr>
        <td>{{ c.name }}</td>
        <td>{{ c.area }}</td>
        <td>{{ c.population }}</td>
        <td>{{ c.density }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}